<%- include('../partials/header') -%>

<div class="col-9">
    <div class="container p-3">
        <h1 class="my-4">Dashboard</h1>
        <%- include('../partials/messages') -%>

        
</div>
</div>

<%- include('../partials/footer') -%>